* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

/* Inicio de Sesion */

.login-box {
  height: 100%;
  width: 300px;
  margin: 200px auto;
  border: 1px solid #f2f2f2;
  border-radius: 5px;
  padding: 20px;
}

.login-form {
  overflow: hidden;
  width: 100%;
}

.login-form input {
  width: 100%;
  margin-top: 10px;
  border: 1px solid #f2f2f2;
  padding: 8px;
  border-radius: 5px;
  height: 40px;
}

.login-boton-entrar {
  background-color: #0d6efd;
  color: white;
}

.login-boton-registro {
  text-align: center;
  text-decoration: none;
  margin-top: 10px;
  display: block;
  width: 100%;
  border: 1px solid #0d6efd;
  color: #0d6efd;
  border-radius: 5px;
  background: none;
  padding: 8px;
  height: 40px;
}

/* Nav */

header nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 50px;
  margin: auto 10px;
}

.logo h1 {
  font-size: 20px;
}

.logo a {
  text-decoration: none;
  color: black;
}

.user {
  height: 100%;
  display: flex;
  align-items: center;
}

.user-img {
  height: 40px;
  border-radius: 100%;
  border: 1px solid #f2f2f2;
}
